<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Metw Go</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>metw_go</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIApplicationSceneManifest</key>
		<dict>
			<key>UIApplicationSupportsMultipleScenes</key>
			<false/>
			<key>UISceneConfigurations</key>
			<dict>
				<key>UIWindowSceneSessionRoleApplication</key>
				<array>
					<dict>
						<key>UISceneClassName</key>
						<string>UIWindowScene</string>
						<key>UISceneConfigurationName</key>
						<string>flutter</string>
						<key>UISceneDelegateClassName</key>
						<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
						<key>UISceneStoryboardFile</key>
						<string>Main</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSLocationWhenInUseUsageDescription</key>
		<!-- نحتاج الوصول إلى موقعك لتتبع حالة التوصيل وتقديم خدمة أفضل -->
		<string>We need access to your location to track the delivery status and provide accurate arrival estimates.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<!-- نحتاج الوصول إلى موقعك حتى في الخلفية لتتبع حالة التوصيل وضمان وصول الطلب بدقة -->
		<string>We need access to your location even in the background to ensure real-time tracking during delivery for better service.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<!-- نحتاج الوصول إلى موقعك حتى في الخلفية لتتبع حالة التوصيل وضمان وصول الطلب بدقة -->
		<string>We need access to your location even in the background to ensure real-time tracking during delivery for better service.</string>
		<!--  هو بمثابة "إذن رسمي" تطلبه من نظام التشغيل iOS للسماح للتطبيق بالقيام بمهام محددة في الخلفية (Background). بدون هذا الجزء، سيقوم النظام بإيقاف نشاط التطبيق تماماً بمجرد خروجك منه أو قفل الشاشة -->
		<key>UIBackgroundModes</key>
		<array>
			<!--  يخبر النظام أن هذا التطبيق لديه "صلاحية العمل في الخلفية" لاستقبال تحديثات الموقع.
ماذا يحدث لو حذفته؟ بمجرد أن يخرج السائق من التطبيق أو يغلق شاشة الآيفون، سيتوقف إرسال إحداثيات الموقع فوراً، ولن تستطيع العيادة رؤية مكانه على الخريطة حتى يفتح التطبيق مرة أخرى. -->
			<string>location</string>
			<!--  سمح للتطبيق "بالاستيقاظ" في الخلفية عند وصول إشعار (Push Notification) من Firebase مثلاً.
أهميته لتطبيقك:يضمن وصول إشعارات الطلبات الجديدة للسائق بسرعة عالية.يسمح للتطبيق بمعالجة البيانات القادمة مع الإشعار (Silent Notifications) لتحديث حالة معينة في التطبيق قبل أن يفتحه المستخدم. -->
			<string>remote-notification</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
